<head>
  <title>{{ site.title }} {{ site.subtitle }}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lte IE 8]><script src="{{ 'assets/js/ie/html5shiv.js' | relative_url }}"></script><![endif]-->
  <link rel="stylesheet" href="{{ 'assets/css/main.css' | relative_url }}" />
  <!--[if lte IE 8]><link rel="stylesheet" href="{{ 'assets/css/ie8.css' | relative_url }}" /><![endif]-->
  <!--[if lte IE 9]><link rel="stylesheet" href="{{ 'assets/css/ie9.css' | relative_url }}" /><![endif]-->

  <!-- Scripts -->
  <script src="assets/js/jquery.min.js" defer></script>
  <script src="assets/js/jquery.scrolly.min.js" defer></script>
  <script src="assets/js/jquery.scrollzer.min.js" defer></script>
  <script src="assets/js/skel.min.js" defer></script>
  <script src="assets/js/util.js" defer></script>
  <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js" defer></script><![endif]-->
  <script src="assets/js/main.js" defer></script>

</head>