---
layout: default
---
{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
	{%- if page.content != "" -%}
		{%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header content=page.content -%}
	{%- endif -%}
	<!-- Posts List -->
	{%- for _post in _posts -%}
		{%- capture _title -%}
			<a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>

			
		{%- endcapture -%}
		
		{%- capture _subtitle -%}
		|&nbsp&nbsp{{- _post.subtitle }}&nbsp&nbsp|

			<p>{{- _post.author }}</p>

		
			{%- if _post.image != "" -%}
			<p><img src="{{- _post.image -}}"></p>
			<b>
				<font color="#3B6CEB">
					{%- for _hashtag in _post.hashtags -%}
						#{{- _hashtag }}&nbsp
					{%- endfor -%}
				</font>
			</b>
		{%- endif -%}
			

			

		{%- endcapture -%}

		{%- capture _excerpt -%}<p>{{- _post.excerpt | strip_html | truncatewords: 100 -}}</p>{%- endcapture -%}
		{%- capture _link -%}<a href="{{- _post.url | absolute_url -}}">read more</a>{%- endcapture -%}
		{%- assign _content = _excerpt | append: _link -%}

		{%- include section.html title=_title subtitle=_subtitle content=_content -%}
	{%- endfor -%}
</div>