---
layout: default
comment: true
---
{%- include header.html -%}

<!-- Main -->
<div id="main">
	<!-- Post -->
	<article class="shade-two">
	  <div class="container">
			<header>
				<h2>{{- page.title -}}</h2>
				<p>{% if page.author %}{{ page.author }}, {% endif %}{{- page.date | date_to_long_string -}}</p>
			</header>
	    {{- content -}}
	  </div>
	</article>

	{% include disqus.html %}
	{% if page.comments %} • <a href="https://xho95.github.io{{- page.url -}}#disqus_thread">0 Comments</a>{% endif %}
	
</div>